<%= form_with(model: mensalistum, local: true) do |form| %>
  <% if mensalistum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mensalistum.errors.count, "error") %> prohibited this mensalistum from being saved:</h2>

      <ul>
      <% mensalistum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :telefone %>
    <%= form.text_field :telefone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
